///#4c5368 #232532 #fff #12f5bf #10ffff #0c0b0b #6d6d6d

$bg-color: #232532;

$color-primary: #10ffff;
$color-secondary: #12f5bf;

$color-tertiary-light: #6d6d6d;
$color-tertiary-dark: #4c5368;

$color-white: #fff;
$color-black: #000;

$color-danger: #ff2323;

$default-font-size: 2rem;
