.login-page {
  color: $color-white;

  .main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bg-color;
  }
}

.container {
  width: 55%;
  height: 70%;
  box-shadow: 0 1rem 4rem rgba($color-white, 0.4);

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  transition: all 0.3s;

  &__left {
    flex: 50%;
    position: relative;
    transition: all 0.3s;
    background: linear-gradient(
        rgba($color-black, 0.4) 100%,
        rgba($color-black, 0.4) 100%
      ),
      url('../img/login-up.jpg');
    background-size: cover;

    &-first {
      opacity: 0;
      visibility: hidden;

      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    &-second {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 90%;
      text-align: center;
    }
  }

  &__right {
    flex: 50%;
    position: relative;
    transition: all 0.3s;

    &-first {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    &-second {
      opacity: 0;
      visibility: hidden;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 90%;
      text-align: center;
    }
  }

  &:target &__right-first,
  &:target &__left-second {
    opacity: 0;
    visibility: hidden;
  }

  &:target &__right-second,
  &:target &__left-first {
    opacity: 1;
    visibility: visible;
  }

  &:target &__left {
    transform: translateX(100%);
  }

  &:target &__right {
    transform: translateX(-100%);
  }
}

.form {
  &__input {
    font-size: $default-font-size;
    font-family: inherit;
    color: $color-black;
    padding: 1rem 2rem;
    background-color: rgba($color-white, 0.6);
    border: none;
    border-bottom: 3px solid transparent;
    width: 85%;
    margin: 2rem auto;
    display: block;
    transition: all 0.3s;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-secondary, 0.1);
      border-bottom: 3px solid $color-secondary;
    }

    &:focus:invalid {
      border-bottom: 3px solid $color-danger;
      box-shadow: 0 1rem 2rem rgba($color-danger, 0.1);
    }

    &::-webkit-input-placeholder {
      color: $color-secondary;
    }
  }
}

.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 1.5rem;
    display: inline-block;
    font-size: $default-font-size;
    cursor: pointer;
    transition: all 0.2s;
  }

  &--green {
    border: none;
    background-color: $color-tertiary-light;
    color: $color-white;

    &:hover {
      transform: translateY(3px);
      box-shadow: 0 1rem 2rem rgba($color-white, 0.2);
    }
  }

  &--blue {
    border-bottom: 1px solid $color-primary;
    color: $color-white;

    &:hover {
      background: linear-gradient(0deg, $color-secondary, $color-primary);
      box-shadow: 0 1rem 2rem rgba($color-white, 0.2);
    }
  }
}
