.main-page {
  &-container {
    min-height: 100vh;
    min-width: 100vw;
    padding: 5rem;
    display: flex;
    flex-wrap: wrap;
  }

  .list {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    height: 100%;
  }

  .items-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin: 5rem;
  }

  .item {
    position: relative;

    &:hover {
      cursor: pointer;
      box-shadow: 0 1rem 4rem rgba($color-white, 0.4);
    }

    &_settings {
      position: absolute;
      right: 0;
      top: -24px;
      display: flex;
      flex-direction: row;
      font-size: 4rem;

      > * {
        &:hover {
          color: $color-danger;
        }
      }

      @include respond(tab-land) {
        font-size: $default-font-size;
      }
    }

    &_title {
      text-align: center;
    }

    &_img {
      max-width: 100%;
      max-height: 100%;
    }

    &_description {
      word-break: break-all;
    }
  }
}
